@page
@model IndexModel
@{
    ViewData["Title"] = "Portfoliopage";
}

<body>
    <div class="grid">
        <main class="main">
            <div id="home" class="home">
                <h1 class="home-title">Sergey Sychev</h1>
                <div class="b"></div>
                <div class="y"></div>
                <div class="item1"></div>
                <div class="item2"></div>
                <div class="home-contacts">
                    <div class="card"></div>
                </div>
                <div class="photo"><img src="" alt="me"></div>
            </div>
            <div id="about" class="about">
                <div class="photo"><img src="./img/IMG_7201.jpg" alt="me"></div>
                <div class="about-text">
                    <h1 class="heading">SERGEY SYCHEV</h1>
                    <div class="subheading">
                        My initial education was related to Manufacturing Engineering, as well as the machining and cutting tools design. Then after graduating from the University, I was enrolled in a Master's degree program in the field of machining. In the following, I enrolled in a part-time course at
                        the faculty of Applied Mathematics and Computer Science. For some years having been engaged in the implementation of information technologies (BIM) in construction (AEC) I am looking for aportunity to get into IT in order to combine my previous experience in engineering and computer skills and knowledge.
                    </div>
                </div>
            </div>
            <div id="experience" class="experience">
                <h2 class="heading">WORK EXPERIENCE</h2>
                <div class="experience-content">
                    <div class="position">BIM Manager</div>
                    <div class="year">2022 – present</div>
                    <strong class="company">

                    </strong class="company">
                    <div class="subheading">
                        <div>Analyzing project data in BIM.</div>
                    </div>

                    <div class="position">BIM Manager</div>
                    <a href="https://rencons.com/?lang=en" target="_blank">
                        <strong class="company">
                            Renaissance Construction, St. Petersburg,
                            Russia<br>
                        </strong>
                    </a>
                    <div class="year">2018 – 2021</div>
                    <div class="subheading">
                        <div>
                            Development of BIM Execution Plans (BEPs) and
                            Employer's Information Requirements (EIRs). Managing the
                            project Common Data Environments (CDE) using BIM 360. Preparation of BIM models and
                            asset
                            information for handover to client. Attending coordination meetings.
                        </div>
                    </div>

                    <div class="position">BIM Manager</div>
                    <a href="https://rusal.ru/en/" target="_blank">
                        <strong class="company">
                            JSC «RUSAL VAMI», St. Petersburg,
                            Russia<br>
                        </strong>
                    </a>
                    <div class="year">2017 – 2018</div>
                    <div class="subheading">
                        <div>
                            Implementation of BIM technology in the internal business
                            processes of the company and ensuring the effective work of
                            BIM team. BIM software selection and evaluation. Ensure ongoing development and
                            implementation of standards, templates and libraries. Identify/undertake training needs
                            when require.
                        </div>
                    </div>

                    <div class="position">Design Engineer</div>
                    <a href="https://www.techno-systems.ru/" target="_blank">
                        <strong class="company">
                            TechnoSystems Company Ltd, St. Petersburg,
                            Russia<br>
                        </strong>
                    </a>
                    <div class="year">2016 – 2017</div>
                    <div class="subheading">
                        <div>
                            Development of equipment and professional solutions for the safe
                            discharge, transportation, storage, transshipment,
                            bunkering, accounting, measurement and delivery of liquid, bulk and gaseous cargo.
                        </div>
                    </div>

                    <div class="position">BIM Coordinator</div>
                    <a href="https://spectrum-group.ru/en/" target="_blank"><strong class="company">Spectrum Group, St. Petersburg, Russia<br></strong></a>
                    <div class="year">2015 – 2016</div>
                    <div class="subheading">
                        <div>
                            Support
                            the
                            BIM manager in all activities. Support project team on BIM tools and uses. Supporting
                            projects with
                            implementing 3D coordination and federation, visualization, 4D animations, 5D quantity
                            take-off and costs. Prepare BIM Execution Plan for Projects.
                        </div>
                    </div>

                    <div class="position">BIM Specialist</div>
                    <a href="http://kbvips.ru/node/387" target="_blank">
                        <strong class="company">
                            JSC KB VIPS, St. Petersburg,
                            Russia<br>
                        </strong>
                    </a>
                    <div class="year">2014 – 2015</div>
                    <div class="subheading">
                        <div>
                            Implementation
                            BIM modelling technology. Assistance with clash detection and conflict resolution using
                            Navisworks.
                            Undertaking modelling exercises in Revit to assist the site team.
                        </div>
                    </div>

                    <div class="position">Design Engineer</div>
                    <strong class="company">LLC «Ecostroy», St. Petersburg, Russia<br></strong>
                    <div class="year">2010 – 2014</div>
                    <div class="subheading">
                        <div>
                            Design
                            pipe
                            systems for transporting petroleum products.
                        </div>
                    </div>
                </div>
            </div>
            <div id="education" class="education">
                <h2 class="heading">EDUCATION</h2>
                <div class="education-content">

                    <div class="ro">
                        <div class="position">Mathematician-programmer</div>
                        <div class="">2008 to 2009</div>
                    </div>

                    <a href="https://bsu.by/en/structure/faculties/kafedry/faculty-of-advanced-training-and-retraining-d" target="_blank">
                        <div class="company">Belarusian State University, Faculty of advanced training and retraining, Minsk, Belarus</div>
                    </a>

                    <div class="position">Master in Manufacturing Technology</div>
                    <a href="https://www.psu.by/en/" target="_blank">
                        <div class="company">Polotsk State University, Novopolotsk, Belarus</div>
                    </a>
                    <div class="">2004 – 2005</div>

                    <div class="position">
                        Master in Manufacturing
                        Engineering
                    </div>
                    <a href="http://en.bru.by/"
                       target="_blank">
                        <div class="company">
                            Belarusian-Russian
                            University, Mogilev, Belarus
                        </div>
                    </a>
                    <div class="">1999 – 2004</div>

                    <div class="position">
                        Diploma of Specialized Secondary Education in Electrical
                        Engineering
                    </div>
                    <a href="https://ogkjt.bsut.by/#"
                       target="_blank">
                        <div class="company">Orsha State College of Railway Transport, Belarus</div>
                    </a>
                    <div class="">1995 – 1999</div>
                </div>
            </div>
            <div id="awards" class="awards">
                <h2 class="heading">AWARDS</h2>
                <div class="content">
                    Awarded the first prize in Republican contest of students' scientific works
                    of
                    higher education institutions of the Republic of Belarus for the scientific research paper
                    'Finite Element modelling of orthogonal metal cutting process by the tool with anti-wear
                    coating', 2005
                </div>
            </div>
            <div id="grants" class="grants">
                <h2 class="heading">GRANTS</h2>
                <div class="content">
                    <strong>Title:</strong> 'Synthesis of ceramic composite coatings on metals
                    with
                    increased strength and anticorrosion properties by micro-arc oxidation'<br><strong>
                        Project
                        number:
                    </strong> 18-73-00025
                </div>
                <div class="content">
                    <strong>Title:</strong> 'Experimental and theoretical study of nonlinear
                    dynamic effects of cluster formation during surface and subsurface destruction in
                    tribological systems at nano- and
                    meso-scale levels'<br><strong>Project number:</strong> 10-08-00966
                </div>
            </div>
            <div id="certifications" class="certifications">
                <h2 class="heading">CERTIFICATIONS</h2>
                <ol class="subheading">
                    <li>
                        <a class="active" href="https://ielts.ucles.org.uk/ielts-trf/welcome.html">
                            <strong>
                                International
                                English Language Testing System (IELTS), British Council, 2021
                            </strong>
                        </a>
                    </li>
                    <li lang="pt">
                        O nível А2 do curso de Português Língua de AcolhimentoO nível А2 do curso de
                        Português Língua de Acolhimento, Centro de Emprego е Formação Profissional de Coimbra,
                        2021
                    </li>
                </ol>
            </div>
        </main>

        <aside class="aside">
            <div id="contacts" class="contacts">
                <h2 class="heading">CONTACTS</h2>
                <ul class="text-dark">
                    <li>
                        <a href="mailto:sergeysychou@gmail.com" target="_blank"><img class="icon" src="~/img/gmail.svg" alt="icon-email"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sergey-sychev-5742a3bb/" target="_blank">
                            <img class="icon" src="~/img/in.svg" alt="icon-linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="https://orcid.org/0000-0001-8213-7374" target="_blank">
                            <img class="icon" src="~/img/orcid.svg" alt="icon-orcid">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/sesychev" target="_blank">
                            <img class="icon" src="~/img/github.svg" alt="icon-github">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="block"></div>

            <div id="skills" class="skills">
                <h2 class="heading">TECHNICAL SKILLS</h2>
                <h4>BIM and 3D Modelling</h4>
                <ul class="ul-slills">
                    <li>Navisworks</li>
                    <li>Revit</li>
                    <li>SolidWorks</li>
                </ul>
                <h4>Programming</h4>
                <ul class="ul-slills">
                    <li>.NET</li>
                    <li>Matlab</li>
                    <li>Python</li>
                    <li>Pandas</li>
                    <li>Node.js</li>
                    <li>C#/Java</li>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Unix/Linux</li>
                    <li>Jupyter Notebook</li>
                </ul>
                <h4>Lab</h4>
                <ul class="ul-slills">
                    <li>Acoustic Emission Testing (AET)</li>
                    <li>Tribology</li>
                    <li>Vibration</li>
                    <li>Wavelets</li>
                </ul>
            </div>
            <div id="languages" class="languages">
                <h2 class="heading">LANGUAGES</h2>
                <ul class="ul-languages">
                    <li>Belarusian and Russian – Native/Bilingual</li>
                    <li>English – Upper intermediate (IELTS 6.0/B2)</li>
                    <li>Portuguese – Elementary (CEFR A2)</li>
                </ul>
            </div>
            <div id="courses" class="courses">
                <h2 class="heading">COURSES</h2>
                <ul class="ul-courses">
                    <li><a class="active" href="https://app.rs.school/certificate/kfsdtobu"><strong class="company">NodeJS 2022Q4 (RS School Certificate)</strong></a></li>
                    <li><a class="active" href="https://app.rs.school/certificate/xo22bf92"><strong class="company">JS/Frontend - Pre-School 2022Q2 (RS School Certificate)</strong></a></li>
                    <li>Python Core Development - EPAM (2023)</li>
                    <li>.NET Development - EPAM (2022/KZ)</li>
                    <li>.NET Development - EPAM (2021Q4/BY/2)</li>
                    <li>.NET Development - EPAM (2021Q4/BY/1)</li>
                </ul>
            </div>
            <div id="projects" class="projects">
                <h2 class="heading">IT PROJECTS</h2>
                <ul class="ul-projects">
                    <li>
                        <a href="https://sesychev-online-store.netlify.app/" target="_blank">
                            <img class="icon"
                                 src="./img/store.svg" alt="icon-store"><strong>Online Store</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://rolling-scopes-school.github.io/sesychev-JSFEEN2022Q3/book-shop/"
                           target="_blank">
                            <img class="icon" src="./img/book.svg" alt="icon-book"><strong>
                                Books
                                shop
                            </strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://rolling-scopes-school.github.io/sesychev-JSFEEN2022Q3/online-zoo/pages/main/"
                           target="_blank">
                            <img class="icon" src="./img/travel.svg"
                                 alt="icon-zoo"><strong>Online-zoo</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q3/songbird/"
                           target="_blank">
                            <img class="icon" src="./img/bird.svg"
                                 alt="icon-bird"><strong>Songbird</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q3/gem-puzzle/"
                           target="_blank">
                            <img class="icon"
                                 src="https://upload.wikimedia.org/wikipedia/commons/b/bd/15-Puzzle_2.svg"
                                 alt="icon-gem"><strong>Gem Puzzle</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://rolling-scopes-school.github.io/sesychev-JSFEPRESCHOOL2022Q2/travel/"
                           target="_blank">
                            <img class="icon" src="./img/favicon.svg"
                                 alt="icon-travel"><strong>Travel</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q1/shelter/pages/main/"
                           target="_blank">
                            <img class="icon" src="./img/owl.svg"
                                 alt="icon-shelter"><strong>Shelter</strong>
                        </a>
                    </li>
                    <li>
                        <a href="https://sesychev.github.io/rsschool-cv/"
                           target="_blank">
                            <img class="icon" src="./img/iconmonstr-cv-4.svg"
                                 alt="icon-cv"><strong>Personal web page</strong>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="interests" class="interests">
                <h2 class="heading">RESEARCH INTERESTS</h2>
                <ul class="ul-iterests">
                    <li>Acoustic Emission (AE)</li>
                    <li>Artificial Intelligence</li>
                    <li>Data Analysis/Science</li>
                    <li>Digital signal processing (DSP)</li>
                    <li>Digital Twins</li>
                    <li>Finite Element Analysis (FEA)</li>
                    <li>Industrial Internet of Things (IIoT)</li>
                    <li>Industry 4.0/5.0</li>
                    <li>Machine Learning</li>
                </ul>
            </div>

        </aside>

        @section Article {
        }

        @section Sidebar {
        }

        @section Footer {
                <ul id="contacts" class="icons">
                    <li class="container text-dark">
                        &copy; 2023 - Sergey Sychev
                    </li>
                </ul>
        }

    </div>
</body>


